<div class="login-page">
  <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
    <h3 class="title">Üye olma<span> Form</span></h3>
  </div>
  <div class="widget-shadow">
    <div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
      <h4>Hesabınız Var mı ?<%= link_to 'Giriş Yap', new_user_session_path %> </h4>
    </div>
    <div class="login-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class:"wow fadeInUp animated") do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, required: true, autofocus: true , class: "srcrtext" %>
        <%= f.input :surname, required: true, class: "srcrtext" %>
        <%= f.input :username, required: true, class: "srcrtext" %>
        <%= f.input :address, required: true, class: "srcrtext" %>
        <%= f.input :phone, required: true, class: "srcrtext" %>
        <%= f.input :email, required: true, class: "srcrtext" %>
        <%= f.input :password, required: true, class: "srcrtext", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true, class: "srcrtext" %>
        
        <div class="form-actions">
            <%= f.button :submit, "Üye Ol" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
