<title>Hit Steroid Giriş</title>
<!--login-->
	<div class="login-page">
		<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
			<h3 class="title">Giriş Yapın<span> Form</span></h3>
		</div>
		<div class="widget-shadow">
			<div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
				<h4>HitSteroide Hoşgeldiniz ! <br> Üye Değil misiniz? <%= link_to 'Üye Ol', new_user_registration_path %> </h4>
			</div>
			<div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-inputs">
						<%= f.label :email, "Email Adresi" %>
						<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email adresi" %><br />
						<%= f.label :password, "Parola" %>
						<%= f.password_field :password, autocomplete: "off", placeholder:"Parola" %><br />
						<% if devise_mapping.rememberable? -%>
						    <div class="field">
						      <%= f.check_box :remember_me %>
						      <%= f.label :remember_me %>
						    </div>
						  <% end -%>
					</div>

					<div class="form-actions">
						<%= f.submit "Giriş Yap" %>
					</div>
				<% end %>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
	<!--//login-->
