<h2>Log in</h2>

<!--login-->
	<div class="login-page">
		<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
			<h3 class="title">Giriş Yapın<span> Form</span></h3>
		</div>
		<div class="widget-shadow">
			<div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
				<h4>HitSteroide Hoşgeldiniz ! <br> Üye Değil misiniz? <%= link_to 'Üye Ol', new_user_registration_path %> </h4>
			</div>
			<div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-inputs">
						<%= f.input :email, required: false, autofocus: true, placeholder:"Enter your email" %>
						<%= f.input :password, required: false, placeholder:"Password" %>
						<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
					</div>

					<div class="form-actions">
						<%= f.button :submit, "Giriş Yap" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<!--//login-->
