<!--banner-->
  <div class="banner">
    <div class="container">
      <div class="banner-text">     
        <div class="col-sm-5 banner-left wow fadeInLeft animated" data-wow-delay=".5s">     
          <h2>En Yeni Ürünler</h2>
          <h3>Yakında </h3>
          <h4>En yeni ve En iyi ürünlerle karşınızda olacağız</h4>

        </div>
        
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>      
  <!--//banner-->
  
<div class="new">
  <div class="container">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
      <h3 class="title">Yeni <span>Gelenler</span></h3>
    </div>
    <div class="new-info">
      <% Product.all.take(4).each do |product| %>
      <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
        <div class="new-top">
          <a href="single.html"><%= image_tag product.image.url, class: "img-responsive"%></a>
          <div class="new-text">
            <ul>
              <li><%= link_to 'Sepete Ekle', product_sepets_path(:product_id => product.id), :method=> :post %></li>
              <li><%= link_to 'Hızlı Bakış', product %></li>
              <li><%= link_to 'Detaylı Arama', detailed_products_index_path %></li>
            </ul>
          </div>
        </div>
        <div class="new-bottom">
          <h5><a class="name" href="single.html"><%= product.title %> </a></h5>
          <div class="rating">
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span>☆</span>
          </div>
          <div class="ofr">
            <% if product.discount %>
            <p class="pric1"><del><%= product.price %> TL</del></p>
            <p><span class="item_price"><%= product.discount %> TL</span></p>
            <% else %>
            <p><span class="item_price"><%= product.price %> TL</span></p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//new-->

<!--gallery-->
<div class="gallery">
  <div class="container">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
      <h3 class="title">Popüler<span> Ürünler</span></h3>
    </div>
    <div class="gallery-info">
      <% Product.all.take(4).each do |product| %>
      <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
        <div class="new-top">
          <a href="single.html"><%= image_tag product.image.url, class: "img-responsive"%></a>
          <div class="new-text">
            <ul>
              <li><a class="item_add" href=""> Sepete Ekle</a></li>
              <li><%= link_to 'Hızlı Bakış', product %></li>
              <li><%= link_to 'Detaylı Arama', detailed_products_index_path %></li>
            </ul>
          </div>
        </div>
        <div class="new-bottom">
          <h5><a class="name" href="single.html"><%= product.title %> </a></h5>
          <div class="rating">
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span>☆</span>
          </div>
          <div class="ofr">
            <% if product.discount %>
            <p class="pric1"><del><%= product.price %> TL</del></p>
            <p><span class="item_price"><%= product.discount %> TL</span></p>
            <% else %>
            <p><span class="item_price"><%= product.price %> TL</span></p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//gallery-->
