<!--single-page-->
<div class="single">
  <div class="container">
    <div class="single-info">   
      <div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">  
        <%= image_tag @product.image.url, style: 'height:300px;width:600px;', class: "img-responsive" %>
     </div>
     <div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
      <h3><%= @product.title %></h3>
      <% if @product.category != "Hazır Kürler" %>
        <p>Marka: <%= @product.marka.name %>
      <% end %>
      <div class="single-rating">
        <span class="starRating">
          <input id="rating5" type="radio" name="rating" value="5" checked>
          <label for="rating5">5</label>
          <input id="rating4" type="radio" name="rating" value="4">
          <label for="rating4">4</label>
          <input id="rating3" type="radio" name="rating" value="3">
          <label for="rating3">3</label>
          <input id="rating2" type="radio" name="rating" value="2">
          <label for="rating2">2</label>
          <input id="rating1" type="radio" name="rating" value="1">
          <label for="rating1">1</label>
        </span>
        <p>5.00 üzerinden 5</p>
        <a href="#">Add Your Review</a>
      </div>
      <% if @product.discount %>
            <h6 class="pric1"><del><%= @product.price %> TL</del></h6>
            <p><h6 class="item_price"><%= @product.discount %> TL</h6></p>
            <% else %>
            <p><h6 class="item_price"><%= @product.price %> TL</h6></p>
      <% end %>
      
      <div class="quantity">
        <p class="qty"> Adet :  </p><input min="1" type="number" value="1" class="item_quantity">
      </div>
      <div class="btn_form">
        <% if current_user && current_user.sepets.where(product: @product).count > 0 %>
          <%= link_to 'Sepeteten Çıkar', product_sepet_path(@product), method: :delete,  class: "add-cart item_add" %>
        <% else %>
          <%= link_to 'Sepete Ekle', product_sepets_path(@product), method: :post,  class: "add-cart item_add" %>
        <% end %>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--collapse-tabs-->
  <div class="collpse tabs">
    <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default wow fadeInUp animated"  data-wow-delay=".5s">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="background-color: blue;" aria-expanded="true" aria-controls="collapseOne">
              Açıklama
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <%= simple_format @product.description %>
          </div>
        </div>
      </div>
    <div class="panel panel-default wow fadeInUp animated" data-wow-delay=".7s">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" style="background-color: blue;" aria-controls="collapseThree">
            Yorumlar (<%= @comments.count %>)
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <p id="notice"><%= notice %></p>
            <div class="well">
            <%= render "comments/form" %>

            <hr>

            <% @comments.each do |comment| %>
              <div class="row">
                <div class="col-md-12">
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <%= comment.user.username || comment.user.email %>
                  <span class="pull-right"><%= comment.created_at %></span>
                  <p><%= comment.content %></p>
                </div>
              </div>
            <% end %>

            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//collapse -->
<!--related-products-->
<div class="related-products">
  <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
    <h3 class="title">Benzer<span> Ürünler</span></h3>
  </div>
  <div class="related-products-info">
    <div class="new-info">
      <% @random.each do |product| %>
      <div class="col-md-3 new-grid new-mdl simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
        <div class="new-top">
          <%= link_to(image_tag(product.image.url, style: 'height:150px;width:300px;', class: "img-responsive"), product)%>
          <div class="new-text">
            <ul>
              <li><a class="item_add" href=""> Sepete Ekle</a></li>
              <li><a"><%= link_to 'Hızlı Bakış', product %> </a></li>
              <li><a href="products.html">Detayları Gör </a></li>
            </ul>
          </div>
        </div>
        <div class="new-bottom">
          <h5><%= link_to product.title, product %></h5>
          <div class="rating">
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span class="on">☆</span>
            <span>☆</span>
          </div>
          <div class="ofr">
            <% if product.discount %>
            <p class="pric1"><del><%= product.price %> TL</del></p>
            <p><span class="item_price"><%= product.discount %> TL</span></p>
            <% else %>
            <p><span class="item_price"><%= product.price %> TL</span></p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="clearfix"> </div>
    </div>
    
    
  </div>
</div>
<!--//related-products-->
</div>
</div>
<!--//single-page-->