<!DOCTYPE html>
<html>
<head>
<title>HitSteroid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :modernizr %>
<meta charset="utf-8">
<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow" />
<meta name="google-site-verification" content="LFsfOERpEX_3IK6l4S5d4Rtc1TuCK3rDyUGOQ_aij4E" />
<meta name="keywords" content="kigtropin,sustanon,dianabol,danabol,hgh,steroidler,testogel,metanabol,susteron,tenuate, pregnyl,testolin,clenbuterol,yagyakici,efedrin,deca,durabolin,kasgelistirme,boldenon,boldebal,testosteron,testo">
<meta name="author" content="Abdurrehim Şen">
<meta name="description" content="Hormon, Kür, Steroid Satış, Testosteron, Danabol, Enjeksiyon ürünleri. Kapıda ödeme imkanları. Hazır Kürler de bulunmaktador. Steroid Ürünleri ve Hormon Ürünleri kapıda ödeme imkanıyla ayağınıza geliyor.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114084136-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114084136-1');
</script>

<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'><link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
<!--web-fonts-->
<!--animation-effect-->
  <script>
   new WOW().init();
  </script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){   
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
</script>
<!--//end-smooth-scrolling-->
</head>

  <body>
  <!--header-->
  <div class="header">
    <div class="top-header navbar navbar-default"><!--header-one-->
      <div class="container">
        <div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
        <% if current_user %>
          <p>Hoşgeldiniz <%= link_to current_user.email, edit_user_registration_path %> <%= link_to 'Çıkış Yap', destroy_user_session_path, method: :delete %></p>
        <% else %>
          <p>Hoşgeldiniz <%= link_to 'Giriş Yap', new_user_session_path %> Or <%= link_to 'Üye Ol', new_user_registration_path %></p>
        <% end %>
        </div>
        <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
          <ul>
            <li><a href="#"> </a></li>
            <li><a href="#" class="pin"> </a></li>
            <li><a href="#" class="you"> </a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="header-two navbar navbar-default"><!--header-two-->
      <div class="container">
        <div class="nav navbar-nav header-two-left">
          <ul>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(+90)546 875 25 15</li>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@hitsteroid.com">info@hitsteroid.com</a></li> 
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(+90)543 337 70 05</li>     
          </ul>

          <%= image_tag "http://res.cloudinary.com/diit0qzwp/image/upload/c_scale,w_62/v1517158666/kap%C4%B1da-%C3%B6deme-renkli_jzazd4.png" %> <span> Kapıda Ödeme </span>
        </div>
        <div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
          <h1>
          <%= link_to products_path do %>
            Hit<b>Steroid</b><span class="tag">Orjinal, Kalite </span>
          <% end %></h1>
        </div>
        <div class="nav navbar-nav navbar-right header-two-right">
          <div class="header-right my-account">
            <%= link_to pages_communication_path do %><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> İLETİŞİM <% end %>           
          </div>
          <% if current_user %>
          <div class="header-right cart">
            <%= link_to sepets_path do %><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><% end %>
            <h4><%= link_to sepets_path do %>
                <span> Sepetim(<%= current_user.sepets.count %>) </span>
            <% end %></h4>
            <div class="cart-box">
              <div class="clearfix"> </div>
            </div>
          </div>
          <% end %>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="top-nav navbar navbar-default"><!--header-three-->
      <div class="container">
        <nav class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!--navbar-header-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav top-nav-info">
              <li><%= link_to "Anasayfa", products_path %></li>
              <li><%= link_to "Detaylı Arama", detailed_products_index_path %></li>
              <li class="dropdown grid">
                <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Kategoriler<b class="caret"></b></a>
                <ul class="dropdown-menu multi-column menu-two multi-column3">
                  <div class="row">
                      <ul class="multi-column-dropdown">
                        <li><%= link_to 'Enjeksiyon Steroidler', detailed_products_index_path("minprice"=>"", "maxprice"=>"", "enj"=>"check") %></li>
                        <li><%= link_to 'Tablet Steroidler', detailed_products_index_path("minprice"=>"", "maxprice"=>"", "tabl"=>"check") %></li>
                        <li><%= link_to 'Peptidler', detailed_products_index_path("minprice"=>"", "maxprice"=>"", "pept"=>"check") %></li>
                        <li><%= link_to 'Hazır Kürler', detailed_products_index_path("hazir"=>"check") %></li>
                      </ul>
                    <div class="clearfix"> </div>
                  </div>  
                </ul>
              </li> 
              <li class="dropdown grid">
                <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Markalar<b class="caret"></b></a>
                <ul class="dropdown-menu multi-column menu-two multi-column3">
                  <div class="row">
                      <ul class="multi-column-dropdown">
                        <% @markalar.each do |marka| %>
                          <li><%= link_to marka.name, detailed_products_index_path("trademark"=>marka.name) %></li>
                        <% end %>
                      </ul>
                    <div class="clearfix"> </div>
                  </div>  
                </ul>
              </li>       
              <li><%= link_to 'Hakkımızda', pages_about_us_path %></li>
              <li><%= link_to 'Referanslar', pages_references_path %></li>
              <li><%= link_to 'İletişim', pages_communication_path %></li>
              <li class="cd-header-buttons">
                <%= form_tag(detailed_products_index_path, method: "get", :class => "cd-header") do %>
                  <%= text_field_tag(:search, "", class: "srcrtext") %>
                  <%= submit_tag("Search", class: "srcr") %>
                <% end %>
              </li> 
            </ul> 
            <div class="clearfix"> </div>
            <!--//navbar-collapse-->
            
          </div>
          <!--//navbar-header-->
        </nav>
      </div>
    </div>
  </div>
  <br>
  <!--//header-->
  
  <%= yield %>
  
  <!--footer-->
  <div class="footer">
    <div class="container">
      <div class="footer-info">
        <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
          <h4 class="footer-logo">
          <%= link_to products_path do %>
            Hit <b>Steroid</b> <span class="tag">Orjinal, Kalite </span>
            <% end %>
          </h4>
          <p>© 2018 HitSteroid . Tüm Hakları Saklıdır</p>
        </div>
        <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
          <h3>Popüler</h3>
          <ul>
            <li><%= link_to 'Anasayfa', products_path %></li>
            <li><%= link_to 'Hakkımızda', pages_about_us_path %></li>
            <li><%= link_to 'İletişim', pages_communication_path %></li>
          </ul>
        </div>
        <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
          <h3>Abone Ol</h3>
          <p>Daha fazla bilgi için <br> <%= link_to 'Üye Olun', new_user_registration_path %></p> </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--//footer-->   
  <!--smooth-scrolling-of-move-up-->
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <!--//smooth-scrolling-of-move-up-->
  <!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
</body>
</html>

