<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <a><%= link_to "Shopping", root_path, class: "navbar-brand" %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->


          <% if user_signed_in? %>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-notifications" style=<%= "display:none" if !current_user %> id="dd-example" >
                      <a class="glyphicon glyphicon-bell notification-icon dropdown-toggle" data-count="2"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="badge badge-notify" style="background-color:red;" id="myspan" ><%= @notifications.count %></span>
                      </a>


                      <script>
                        $(document).ready(function(){
                            $('#myDropdown').on('hide.bs.dropdown', function () {
                              
                              $.get('<%= :mark_as_read %>', function(response){
                                alert("bildirimler kapatıldı");
                                document.getElementById("myspan").textContent="0";
                              });
                            });
                        });          
                      </script>


                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                        <% @notifications.each do |notification| %>
                          <% mark_as_read %>
                          <tr>
                            <li> <%= link_to "#{notification.actor.email } #{Product.find(notification.notifiable_id).title}'ne #{notification.action} yaptı ", Product.find(notification.notifiable_id), style:"background-color: orange" %></li>
                          </tr>
                        <% end %>
                        <% @unrnotifications.each do |unrnotification| %>
                          <tr>
                            <li> <%= link_to "#{unrnotification.actor.email } #{Product.find(unrnotification.notifiable_id).title}'ne #{unrnotification.action} yaptı ", Product.find(unrnotification.notifiable_id) %></li>
                          </tr>
                        <% end %>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Tüm Bildirimler</a></li>
                      </ul>
                    </li><!-- /dropdown -->

                    <li>
                      <a class="glyphicon glyphicon-envelope dropdown-toggle" data-count="2"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="badge badge-notify" style="background-color:red;" id="myspan" ><%= @conversations.count %></span>
                      </a>
                    </li>

                    <li>
                      <%= link_to current_user.name, edit_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Yeni Ürün", new_product_path %>
                    </li>
                    <li>
                      <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete %>
                    </li>
                </ul>
            </div>
          <% else %>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                      <%= link_to "Üye Ol", new_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Oturum Aç", new_user_session_path %>
                    </li>
                </ul>
            </div>
          <% end %>
      </div>
  </nav>
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
  <div class="wrapper">
    <%= yield %>
  </div>
  <div class="container">
      <hr>
      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Your Website 2014</p>
              </div>
          </div>
      </footer>

  </div>
  <!-- /.container -->
</body>
</html>
